*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}

  
.login h2{
    text-align:center;
    font-weight: 650;
}

.register h2{
    text-align:center;
    font-weight: 650;
}
.register a{
    font-weight: 650;
    font-size:x-large;
}

.student h2{
    text-align:right;
    font-weight: 650;
}

.lecturer h2{
    text-align:right;
    font-weight: 650;
}

.company h2{
    text-align:right;
    font-weight: 650;
}

@media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
      }
    }

    .dashboard{
        background: #880404;
        color: #fff;
        height: 100vh;
        width: 200px;
        transition: all 0.5s;
    }
    .top_section{
        display: flex;
        align-items:center;
        padding:20px 15px;
    }
    .logo{
        font-size: 30px;
    }
    .bars{
        display: flex;
        font-size: 30px;
        margin-left: 50px;
        
    }
    .link{
        display: flex;
        color: #fff;
        padding: 20px 15px;
        gap: 20px;
        transition: all 0.5s;
    }
    .link:hover{
        background:#f8d43c;
        color: #000;
        transition: all 0.5s;
    }
    .active{
        background: #f8d43c;
        color: #000;
    }
    .icon, .link_text{
        font-size: 20px;
    }
    